:root {
  --pri: #003459;
  --second: #F7DBA7;
  --third: #FCEED5;
  --txt: #333333;
  --b: #00BFFF;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 20px;
  border-radius: 50%;
  border: 3px solid var(--second);
  background-color: transparent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px;
  font-weight:700;
  color: var(--second);
}
