.swiper-comment {
  width: 1380px;
  height: 200px;
}

.swiper-comment-slide{
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-comment-slide img {
  display: block;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
